.footer {
    margin-top: auto;
    padding-bottom: var(--mobileHeaderHeight, 63px);

    @screen md {
        padding-bottom: 0px;
    }
}

.footer__warning-sign {
    @apply text-body4 md:text-body3 bg-el-ih text-bg-white;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 10px 0;

}


@screen xl {
    .footer__warning-sign {
        font-size: 24px;
        line-height: 1.6em;
    }
}