.service-slide {
    &__header {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        @apply text-deskSubtitle xl:text-deskh4 flex-1;
    }

    &__icon {
        @apply border-4 rounded-full border-mcg-bs;
        padding: 11px;
        padding-bottom: 10px;
    }

    &__body {
        @apply mb-4 flex flex-col gap-3 xl:gap-4 text-but16m xl:text-but18m;

        &-el {
            display: none;
            a {
                @apply p-5 border rounded-[20px] transition-colors bg-mcg-b border-mcg-b hover:border-el-lg focus:border-text-d;
                display: flex;
                gap: 8px;

                span {
                    @apply flex-1;
                }

                &::before {
                    content: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2934 3.03981C14.3154 3.01782 14.3513 3.01801 14.3731 3.04014C17.4628 6.17289 17.4496 11.217 14.3333 14.3333C11.2169 17.4497 6.1728 17.4629 3.04005 14.3732C3.01791 14.3514 3.01773 14.3155 3.03971 14.2935L5.36132 11.9719C5.3833 11.9499 5.4191 11.9501 5.44135 11.9719C7.24794 13.7356 10.142 13.7221 11.932 11.9321C13.722 10.1421 13.7358 7.24779 11.972 5.44119C11.9503 5.41895 11.9501 5.38315 11.9721 5.36117L14.2934 3.03981Z' fill='%23005055'/%3E%3Crect x='3.73926' y='3.73926' width='9.85164' height='9.87979' rx='4.92582' fill='%23EAF3F4'/%3E%3C/svg%3E%0A");
                    min-width: 32px;
                    width: 32px;
                    max-width: 32px;
                    height: 32px;
                }
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                display: block;
            }

            @screen md {
                &:nth-child(4) {
                    display: block;
                }
            }
        }
    }

    &:nth-child(odd){
        .service-slide{
            &__icon {
                @apply border-mcg-dba;
            }

            &__body {
                &-el {
                    a {
                        @apply bg-bg-beige border-bg-beige hover:border-el-lg focus:border-text-d;
                    }
                }
            }
        }
    }

}

.docavatar {
    margin: 0 auto;
    width: fit-content;
    border-radius: 50%;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    box-shadow: 0 0 19px 0 rgba(237, 237, 237, 0.7);
    border: 25px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    &::before {
        content: '';
        position: absolute;
        border-radius: 177px 177px 0 0;
        width: 354px;
        height: 177px;
        background-color: #ebf5f5;
        z-index: -1;
        top: 91px;
        left: 0px;
        transform: rotate(135deg);
    }

    &.docavatar--extrasmall {
        width: 124px;
        height: 124px;
        border: 11px solid #fff;

        &::before {
            width:  165px;
            height: 83px;
            top: 50%;
            left: 50%;
            transform: rotate(135deg) translate(17%, 50%)
        }
    }

    @screen md {
        width: 333px;
        height: 333px;
        border: 31px solid #fff;
        &::before {
            border-radius: 219.67px 219.67px 0 0;
            width: 439.35px;
            height: 219.67px;
            top: 116px;
            left: 7px;
        }

        &.docavatar--extrasmall {
            width: 178px;
            height: 178px;
            border: 16px solid #fff;
    
            &::before {
                width:  238px;
                height: 119px;
                top: 50%;
                left: 50%;
                transform: rotate(135deg) translate(17%, 50%)
            }
        }
    }

    @screen xl {
        width: 396px;
        height: 396px;
        border: 40px solid #fff;
        &::before {
            border-radius: 256.44px 256.44px 0 0;
            width: 512.89px;
            height: 256.44px;
            top: 43%;
            left: 0px;
        }


        &.docavatar--big {
            width: 430px;
            height: 430px;

            &::before {
                border-radius: 569.42px 569.42px 0 0;
                width: 569.42px;
                height: 284.71px;
                top: 43%;
                left: 6px;
            }
        }

        &.docavatar--small {
            &::before {
                width: 439.35px;
                height: 219.67px;
                top: 124px;
                left: 12px;
            }
        }

    }

}


.doctor-card {
    @apply bg-bg-white p-5 xl:p-[30px] border border-bg-white rounded-3xl flex flex-col xl:gap-[6px] xl:flex-row ;
    transition-property: box-shadow, border-color, opacity ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    box-shadow: 0 0 30px 0 rgba(237, 237, 237, 0.7);

    &__body {
        @apply flex flex-col h-auto flex-1 ;
    }

    &__avatar {
        margin: 0 auto 16px;
        width: 168px;
        height: 168px;
        border-radius: 50%;
        overflow: hidden;
        border: 15px solid #fff;
        box-shadow: 0 0 23px 0 rgba(237, 237, 237, 0.7);

        @screen xl {
            margin: 0;
            width: 202px;
            height: 202px;
            border: 20px solid #fff;
        }
    }

    &__title {
        @apply text-deskSubtitle mb-4 xl:mb-5;    
    }

    &__desc {
        @apply text-text-d text-body3 mb-4 xl:mb-5;
    }

    &__reviews {
        @apply mt-auto mb-4 xl:mb-5;
    }

    &__buttons {
        @apply flex items-center justify-center gap-4 flex-col xl:flex-row xl:justify-start;

        .button {
            @apply w-full xl:w-fit;
        }
    }

    &:hover {
        @apply border-el-lg;
        box-shadow: 0 0 30px 0 #d6d6d6;
    }
}

#saleSwiper,
.pure-slider,
#fBlockSlider {
    .swiper-fade.swiper {
        .swiper-slide {
            position: relative;
            z-index: -1;
            opacity: 0 !important;
        }

        .swiper-slide-active {
            z-index: 1;
            opacity: 1 !important;
        }
    }
}

#singlePageReviewSlider {
    .swiper-slide {
        width: 169px;
        border-radius: 16px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @screen md {
            width: 349px;
            height: 348px;
            border-radius: 24px;
        }

        @screen xl {
            width: 395px;
            height: 391px;
            border-radius: 24px;
        }
    }
}


#doctorsSlider .swiper-slide {
    max-width: 280px;
    min-height: 100%;
    height: auto;
    @screen md {
        max-width: 100%;
        
    }
}

.swiper-autoheight {
    .swiper-slide{
        @apply h-auto;
    }
}


.swiper-container {

    .swiper {
        @apply overflow-visible;

        @screen md {
            &:not([data-slider-md-spv="auto"]) {
                .swiper-slide {
                    @apply opacity-0 transition-opacity pointer-events-none;
                    &.swiper-slide-active,
                    &.swiper-slide-next {
                        @apply opacity-100 pointer-events-auto;
                    }
                }
            }
        }

        
    }

    @screen xl {
        .swiper:not([data-slider-xl-spv]){
            .swiper-slide {
                @apply opacity-0 transition-opacity pointer-events-none;
                &.swiper-slide-active,
                &.swiper-slide-next,
                &.swiper-slide-next + .swiper-slide {
                    @apply opacity-100 pointer-events-auto;
                }
            }
        }
    }

    [data-slider-md-spv="auto"]{
        .swiper-slide {
            width: 351px;

            @screen md {
                width: 393px;
            }
        }
    }
}

.review-slider {
    @apply flex gap-6 md:gap-[1px] items-center xl:px-1 ;
    position: relative;

    .swiper {
        width: 100%;
        overflow: hidden;
    }
    .swiper-slide {
        width: 57px;
        height: 57px;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
        opacity: 100% !important;
    }

    &__button {
        @apply shadow-4 transition-all bg-bg-white;
        border-radius: 50%;
        border-radius: 200px;
        padding: 4px;
        width: 24px;
        height: 24px;
        
        
        z-index: 10;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.64645 13.8536C5.45118 13.6583 5.45118 13.3417 5.64645 13.1464L10.2929 8.5L5.64645 3.85355C5.45118 3.65829 5.45118 3.34171 5.64645 3.14645C5.84171 2.95118 6.15829 2.95118 6.35355 3.14645L11.3536 8.14645C11.5488 8.34171 11.5488 8.65829 11.3536 8.85355L6.35355 13.8536C6.15829 14.0488 5.84171 14.0488 5.64645 13.8536Z' fill='%23858585'/%3E%3C/svg%3E%0A");
            display: block;
            width: 1rem;
            height: 1rem;
        }

        &.before {
            @apply rotate-180;
        }

        &:not(.swiper-button-disabled){
            @apply cursor-pointer block hover:bg-mcg-b;
        }

        &.swiper-button-disabled {
            @apply cursor-default hidden xl:block opacity-0;
        }
    }


    .full-review &  {
        @apply xl:px-2.5;
    }
}

#imageSlider  {
    .swiper {
        @apply rounded-2xl md:rounded-[20px] xl:rounded-[30px];
    }
    .swiper-slide{
        @apply rounded-2xl md:rounded-[20px] xl:rounded-[30px] overflow-hidden;
        max-width: 100%;
        min-width: 0;
        max-height: 100%;
        min-height: 0;
    }
}



@media screen and (max-width: 767px) {
    #imageSlider .swiper {
        max-width: 100%;
        min-width: 0;
        max-height: 100%;
        min-height: 0;
    }
}


@screen md {
    #imageSlider .swiper-slide{
        @apply  relative ;
        // opacity: 0;
    
        &::before {
            content: '';
            @apply transition-colors;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
    
    #imageSlider .swiper-slide-active {
        &::before {
            background-color: rgba(255, 255, 255, 0.0);;
        }
        & + .swiper-slide {
            &::before {
                background-color: rgba(255, 255, 255, 0.5);;
            }
    
            & + .swiper-slide {
                &::before {
                    background-color: rgba(255, 255, 255, 0.7);;
                }

                & + .swiper-slide {
                    &::before {
                        background-color: rgba(255, 255, 255, 0.9);;
                    }
        
                }
            }
        }
    }
}


.rate {
    @apply bg-mcg-b p-4 md:p-[30px] flex flex-col gap-2 md:gap-4;
    min-width: 152px;
    max-width: 152px;
    height: 152px;
    border-radius: 50%;

    @screen md{
        min-width: 285px;
        max-width: 285px;
        height: 285px;
    }

    &__header {
        @apply flex gap-2 md:gap-[15px] items-center justify-center;
       svg {
        width: 20.25px;
        height: 20.25px;
       }

       @screen md {
            svg {
                width: 38px;
                height: 38px;
            }
       }
    }

    &__count {
        @apply text-mobh2 md:text-deskh1;
    }

    &__logo {
        @apply h-5 md:h-[37px] flex justify-center;
        svg {
            height: 100%;
            width: auto;
        }
    }

    &__line {
        width: 120px;
        height: 60px;

        @screen md {
            width: 225px;
            height: 112px;
        }
    }
}

.review {
    @apply rounded-[20px] p-5 xl:px-0 border border-[#F3FBFB] bg-bg-beige min-w-0 h-fit;

    .full-review & {
        @apply border-bg-white bg-bg-white;
    }
    
    &--top,
    &--bot {
        @apply xl:px-[30px];
    }

    &__header {
        @apply flex items-center justify-between mb-2;
    }

    &__name{
        @apply text-deskSubtitle;
    }

    &__date{
        @apply text-el-ia;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.02em;
    }

    &__stars {
        @apply flex gap-2 items-center mb-5;
    }

    &__text {
        @apply text-body3 line-clamp-4 mb-5;

        .modal &,
        .full-review & {
            @apply line-clamp-none;
        }
    }

    &__star {
        @apply w-6 h-6;
        &::after {
            @apply w-6 h-6;
            content: url('data:image/svg+xml,<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.1233 1.85628C11.3802 1.67635 11.6863 1.57983 11.9999 1.57983C12.3136 1.57983 12.6196 1.67635 12.8765 1.85628C13.13 2.03377 13.3235 2.28394 13.4316 2.57362L15.4907 7.75891L15.4969 7.77493C15.4988 7.78006 15.5021 7.78452 15.5065 7.78777C15.5109 7.79101 15.5162 7.79291 15.5216 7.79323L15.5263 7.7935L21.0575 8.14977C22.4934 8.243 22.9841 10.0404 21.9391 10.9091L21.9385 10.9096L17.7022 14.4429L17.6997 14.445C17.6902 14.4528 17.6831 14.4633 17.6792 14.475C17.6755 14.4864 17.6749 14.4987 17.6776 14.5104L17.6779 14.5113L19.0455 19.8883C19.3767 21.1955 17.9652 22.3727 16.7373 21.5982L16.7354 21.597L12.0104 18.597C12.0074 18.5951 12.0035 18.5938 11.9999 18.5938C11.9964 18.5938 11.9929 18.5948 11.9899 18.5967L11.9887 18.5975L7.59321 21.381L7.59252 21.3814C6.24553 22.2378 4.68975 20.9358 5.05748 19.4945L6.322 14.5113L6.32221 14.5105C6.32496 14.4987 6.32441 14.4865 6.32064 14.475C6.31677 14.4633 6.30966 14.4528 6.30013 14.445L6.29766 14.4429L2.06138 10.9096L2.06077 10.9091C1.01581 10.0404 1.50612 8.24303 2.94195 8.14979L8.47824 7.79322C8.4837 7.7929 8.48894 7.79102 8.49333 7.78777C8.49773 7.78452 8.50108 7.78006 8.50298 7.77493L8.50913 7.75891L10.5683 2.57362C10.6764 2.28394 10.8699 2.03377 11.1233 1.85628Z" fill="%231E1E1E" /></svg>');
            display: block;
        }

        &.unfilled::after {
            content: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.6233 1.77058C11.8802 1.59066 12.1863 1.49414 12.4999 1.49414C12.8136 1.49414 13.1196 1.59066 13.3765 1.77058C13.63 1.94807 13.8235 2.19825 13.9316 2.48793L15.9907 7.67322L15.9969 7.68924C15.9988 7.69436 16.0021 7.69882 16.0065 7.70207C16.0109 7.70532 16.0162 7.70722 16.0216 7.70754L16.0263 7.70781L21.5575 8.06407C22.9934 8.15731 23.4841 9.95469 22.4391 10.8234L22.4385 10.8239L18.2022 14.3572L18.1997 14.3593C18.1902 14.3672 18.1831 14.3776 18.1792 14.3893C18.1755 14.4007 18.1749 14.413 18.1776 14.4247L18.1779 14.4257L19.5455 19.8026C19.8767 21.1098 18.4652 22.287 17.2373 21.5125L17.2354 21.5113L12.5104 18.5113C12.5074 18.5094 12.5035 18.5081 12.4999 18.5081C12.4964 18.5081 12.4929 18.5091 12.4899 18.511L12.4887 18.5118L8.09321 21.2953L8.09252 21.2957C6.74553 22.1521 5.18975 20.8501 5.55748 19.4088L6.822 14.4257L6.82221 14.4248C6.82496 14.4131 6.82441 14.4008 6.82064 14.3893C6.81677 14.3776 6.80966 14.3672 6.80013 14.3593L6.79766 14.3572L2.56138 10.8239L2.56077 10.8234C1.51581 9.95466 2.00612 8.15734 3.44195 8.0641L8.97824 7.70752C8.98369 7.70721 8.98894 7.70532 8.99333 7.70207C8.99773 7.69882 9.00108 7.69436 9.00298 7.68924L9.00913 7.67322L11.0683 2.48793C11.1764 2.19825 11.3699 1.94807 11.6233 1.77058ZM13.3149 17.2453L18.0376 20.2438C18.0461 20.2491 18.0517 20.2512 18.0532 20.2517C18.0552 20.2513 18.0617 20.2495 18.0706 20.2427C18.082 20.2341 18.0892 20.2234 18.0925 20.2146C18.094 20.2107 18.095 20.2064 18.0953 20.2011C18.0955 20.196 18.0954 20.1865 18.0917 20.1718L16.722 14.7869C16.6509 14.5006 16.6623 14.2 16.7546 13.9198C16.8467 13.6402 17.0159 13.3922 17.2425 13.2044L17.2439 13.2033L21.4801 9.66993C21.4889 9.66264 21.4926 9.65742 21.4942 9.65491C21.4959 9.65216 21.4974 9.64894 21.4986 9.64449C21.5013 9.63438 21.5022 9.61694 21.496 9.59679C21.4897 9.57669 21.4805 9.56693 21.4778 9.56463L21.4763 9.56361C21.4763 9.56361 21.4719 9.5617 21.461 9.56096L15.9345 9.20501L15.9318 9.20485C15.6364 9.18714 15.3524 9.08402 15.1145 8.90799C14.8785 8.73343 14.6978 8.49463 14.594 8.22021L12.5341 3.03308C12.5314 3.02631 12.5288 3.0195 12.5264 3.01265C12.5244 3.00723 12.5208 3.00254 12.5161 2.99923C12.5113 2.99592 12.5057 2.99414 12.4999 2.99414C12.4942 2.99414 12.4885 2.99592 12.4838 2.99923C12.4791 3.00254 12.4755 3.00723 12.4735 3.01265C12.471 3.0195 12.4684 3.02631 12.4657 3.03308L10.4059 8.22021C10.302 8.49463 10.1214 8.73343 9.88538 8.90799C9.64742 9.08402 9.36347 9.18714 9.06804 9.20485L3.53915 9.56095C3.52823 9.56168 3.52364 9.56359 3.52364 9.56359L3.52206 9.56463C3.51934 9.56693 3.51011 9.57669 3.50389 9.59679C3.49766 9.61694 3.49859 9.63438 3.50125 9.64449C3.50242 9.64894 3.50392 9.65216 3.50566 9.65492C3.50724 9.65742 3.51095 9.66264 3.51973 9.66993L3.52094 9.67094L7.75598 13.2033L7.75745 13.2045C7.98406 13.3923 8.15314 13.6403 8.24527 13.9198C8.3376 14.2 8.3489 14.5006 8.27785 14.7869L8.27689 14.7907L7.01095 19.7795C6.98385 19.8855 7.02123 19.9677 7.08974 20.0197C7.1248 20.0464 7.16022 20.0578 7.1882 20.0598C7.21135 20.0614 7.2434 20.0581 7.2879 20.0298L11.685 17.2453L11.6862 17.2445C11.9295 17.0901 12.2117 17.0081 12.4999 17.0081C12.7884 17.0081 13.0714 17.0905 13.3149 17.2453Z" fill="%230A0A0A" /></svg>');
        }
    }

}


.remove-pagination {

    &.hide-on-remove-pagination,
    .hide-on-remove-pagination {
        display: none !important;
    }

    &.pt-0-on-remove-pagination,
    .pt-0-on-remove-pagination {
        padding-top: 0 !important;
    }

    &.pb-0-on-remove-pagination,
    .pb-0-on-remove-pagination {
        padding-bottom: 0 !important;
    }

    .swiper-controls {
        display: none !important;
    }
}



#CalltouchWidgetFrame {
    bottom: var(--mobileHeaderHeight, 63px) !important;
}