header {
    z-index: 9999;
    position: relative;
}
.header {
    
    &__top {
        @apply bg-bg-white;
        height: var(--header);
    }
    
    &__bot {
        @apply border-b border-el-lg transition-transform bg-bg-white;
        height: var(--subheader);
    }
}

@screen md {
    .header-close .header__bot{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
}

.burger-button {
    & > span {
        @apply transition-colors;

        svg path {
            @apply transition-all;
            transform-origin: right
        }
    }
    &.modal-opened {
        & > span {
            @apply bg-bg-beige;

            svg path {
                &:nth-child(1){
                    transform: rotate(-45deg) translate(3px,-2px);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: rotate(45deg) translate(4px,3px);
                }
            }
        }
    }
}

.search-button {
    @apply transition-colors;

    svg.search-button--opened-show {
        display: none
    }
    
    &.modal-opened {
        @apply bg-bg-beige;
        
        svg:not(.search-button--opened-show) {
            display: none
        }

        svg.search-button--opened-show {
            display: block
        }
    }
}

.subheader-button {
    span,
    path{
        @apply transition-colors;
    }
}

.subheader-button.modal-opened {
    span:first-child {
        @apply text-mcg-pg;
    }

    svg {
        transform: rotate(180deg)
    }

    path {
        @apply fill-mcg-pg;
    }
}

.mobile-nav {
    &__accord--lvl1,
    &__accord--lvl2,
    &__accord--lvl3 {
        @apply flex flex-col gap-10;

        .accardeon-item__but .icon path {
                @apply fill-el-ia;
        }
        &__but {
            & > span {
                @apply transition-colors;
            }
        }
    }

    &__accord--lvl1 {
        height: calc(var(--doc-height, 100vh) - 170px);
        padding-bottom: 30px;
    }

    &__accord--lvl2 {
        @apply gap-6 pt-6;

        & > .opened{
            .mobile-nav__accord--lvl2__but {
                & > span {
                    @apply text-butsemi;
                }
            }
        } 
    }

    &__accord--lvl3 {
        @apply gap-3 pt-3;
    }

    &__accord--lvl1 > .opened &__accord--lvl1__but,
    &__accord--lvl2 > .opened &__accord--lvl2__but {
            & > span {
                &:first-child {
                    @apply text-mcg-pg;
                }

                &.icon {
                    @apply  rotate-180 bg-mcg-bs;
                    path {
                        @apply fill-mcg-pg;
                    }
                }
                
            }
    }
}

.fake-subheader {
    display: none;
    height: var(--subheader);

    .header-close & {
        display: block;
    }
}

.navigation-on-site {
    &__list {
        @apply overflow-auto gap-6;
        height: calc(var(--doc-height, 100vh) - var(--headerSummonHeight) - 126px);
        display: flex;
        flex-direction: column;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

    }
    &__but{
         @apply flex items-center text-but18m;
         a {
             @apply flex-1 transition-colors;
         }
         .icon {
             @apply w-7 h-7 flex items-center justify-center transition-colors rounded-full;
         }
    }
    &__el {
        .navigation-on-site__body {
            @apply bg-bg-white z-30 pt-5  xl:pt-[30px]  border-l border-el-lg ;
            position: absolute;
            pointer-events: none;
            opacity: 0;
            left: 50%;
            top: 0;
            bottom: 0;
            right: 0;
            

            &__heading {
                @apply flex items-start mb-10 pr-[27px] pl-5 xl:pr-[63px] xl:pl-[30px];
                &__title {
                    @apply text-deskh3 flex-1;
                }

                &__close {
                    @apply rounded-full flex items-center justify-center bg-mcg-bs w-10 h-10;
                }
            }

            &__list {
                @apply pr-[27px] pl-5 xl:pr-[63px] xl:pl-[30px] max-h-[60vh];
                @screen xl {
                    @apply flex-row flex-wrap gap-5 ;

                    a {
                        @apply flex items-center justify-center gap-2 rounded-xl py-2 px-4 transition-colors;
                        box-shadow: 0 0 30px 0 rgba(237, 237, 237, 0.7);
                        background: var(--backgrounds-white);
                        &::before {
                            content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2934 3.03981C14.3154 3.01782 14.3513 3.01801 14.3731 3.04014C17.4628 6.17289 17.4496 11.217 14.3333 14.3333C11.2169 17.4497 6.1728 17.4629 3.04005 14.3732C3.01791 14.3514 3.01773 14.3155 3.03971 14.2935L5.36132 11.9719C5.3833 11.9499 5.4191 11.9501 5.44135 11.9719C7.24794 13.7356 10.142 13.7221 11.932 11.9321C13.722 10.1421 13.7358 7.24779 11.972 5.44119C11.9503 5.41895 11.9501 5.38315 11.9721 5.36117L14.2934 3.03981Z' fill='%23005055'/%3E%3Crect x='3.73926' y='3.73926' width='9.85164' height='9.87979' rx='4.92582' fill='%23EAF3F4'/%3E%3C/svg%3E%0A");
                            width: 20px;
                            height: 20px;
                        }

                        &:hover {
                            @apply bg-mcg-b;
                        }
                    }
                }
            }
        }

        &.opened {
            .navigation-on-site__body {
                pointer-events: auto;
                opacity: 1;
            }

            .navigation-on-site__but {
                @apply text-butsemi;
                a {
                    @apply text-mcg-pg;
                }
                .icon {
                    @apply bg-mcg-bs;
                }
            }
        }
    }
}

#clinickModal {
    --right: 47px;
    left: auto;
    right: var(--right);
    overflow: visible;
    .modal__container {
        box-shadow: 0 0 30px 0 rgba(237, 237, 237, 0.7);
        padding: 20px 20px 20px 27px;
        border-radius: 20px;
        max-width: 372px;
    }
}

@screen xl {
    #clinickModal {
        --right: 123px !important;
        .modal__container { 
            max-width: 519px;
        }
    }
}