.button {
    @apply transition-colors flex items-center justify-center;

    &-main {
        @apply text-but14m xl:text-but18m py-[10px] rounded-full px-[34px] md:py-[14px] md:px-9 text-bg-white bg-mcg-pg border-mcg-pg border-4 hover:bg-mcg-lg hover:border-mcg-lg focus:bg-mcg-pg focus:border-mcg-lg max-h-[53px];

        &--secondary {
            @apply text-mcg-pg bg-mcg-bs border-mcg-bs hover:text-bg-white hover:bg-mcg-lg hover:border-mcg-lg focus:bg-mcg-bs focus:text-mcg-pg focus:border-mcg-pg;
        }

        &--small-on-tab {
            @apply py-[10px] xl:py-[14px] max-h-[45px] xl:max-h-[53px];
        }

        &--small-on-desk {
            @apply py-[10px] xl:py-[10px] max-h-[45px] text-but14m;
        }
    }

    &-link {
        @apply text-but18m flex items-center gap-2 text-mcg-pg;

        span {
            // @apply border-b;
            @apply underline-offset-[3px];
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }

        &:hover {
            @apply text-mcg-lg;
        }

        &:focus {
            @apply text-text-d;
        }
    }

    &.disabled,
    &:disabled {
        --tw-bg-opacity: 1;
        background-color: rgb(219 219 219 / var(--tw-bg-opacity)) !important;
        --tw-border-opacity: 1;
        border-color: rgb(219 219 219 / var(--tw-border-opacity)) !important;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
        cursor: default !important;

        svg path {
            stroke: #FFFFFF !important;
            fill: #FFFFFF !important;
        }
    }
}

.link {
    @apply block underline underline-offset-4 text-but18r transition-colors text-text-th hover:text-text-at;
}

.swiper-controls {
    @apply border border-el-lg bg-el-slider;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 200px;

    .but {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;

        path {
            @apply fill-el-ia transition-colors;
        }

        &.swiper-button-disabled {
            path {
                @apply fill-el-dg;
            }
        }
    }

    .pagination {
        @apply text-body3 flex items-center gap-[2px];
    }
}

.small-social-button {
    @apply flex items-center justify-center w-[52px] h-[52px] border rounded-full bg-bg-beige border-bg-beige transition-colors hover:bg-trans hover:border-el-dg focus:bg-bg-beige focus:border-text-th;

    path {
        @apply transition-colors fill-text-d;
    }

    &:hover {
        path {
            @apply fill-el-dg;
        }
    }

    &:focus {
        path {
            @apply fill-text-th;
        }
    }
}

.social-button {
    @apply w-[100px] h-[100px] md:w-[182px] md:h-[182px] rounded-2xl md:rounded-[30px] flex items-center justify-center transition-colors border border-el-lg bg-bg-white hover:bg-bg-beige focus:bg-bg-white focus:border-text-d;

    svg {
        @apply w-10 h-10 md:w-[72px] md:h-[72px];
    }

    path {
        @apply fill-text-th;
    }
}

@property --leftGradientColorStory {
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(59, 91, 255, 1);
}

@property --middleGradientColorStory {
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(255, 78, 142, 1);
}

@property --rightGradientColorStory {
    syntax: "<color>";
    inherits: false;
    initial-value: rgba(255, 227, 78, 1);
}

.story {
    @apply w-32 h-32 min-w-32 max-w-32 rounded-full flex items-center justify-center;
    transition-property: --leftGradientColorStory, --middleGradientColorStory, --rightGradientColorStory;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    background: linear-gradient(225deg, var(--leftGradientColorStory) 0%, var(--middleGradientColorStory) 50%, var(--rightGradientColorStory) 100%);

    img {
        @apply rounded-full w-[120px] h-[120px] object-cover border-[5px] border-bg-white;
    }

    &:hover {
        --leftGradientColorStory: #fff;
        --middleGradientColorStory: #fff;
        --rightGradientColorStory: #fff;
    }
}

.breadcrumb {
    @apply text-text-th transition-colors hover:text-text-at flex items-center gap-[6px];

    &:not(:first-child)::before {
        content: '/';
    }

    &s {
        @apply text-but16r xl:pt-[30px] pb-6;
    }

    &s__desk {
        @apply hidden xl:flex items-center gap-[6px];
    }

    &s__mob {
        @apply flex xl:hidden items-center gap-[6px] w-fit;
    }

    &__home {
        svg {
            @apply fill-text-th transition-colors hover:fill-text-at;
        }
    }
}