.blog-content {
    iframe {
        width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-text-th;
    }

    h1 {
        @apply text-mobh1 md:text-deskh2 xl:text-deskh1;
    }

    h2 {
        @apply text-mobh2 md:text-deskh3 xl:text-deskh2;
    }

    h3 {
        @apply text-mobh3 md:text-deskh4 xl:text-deskh3;
    }

    h4 {
        @apply text-mobSubtitle md:text-deskSubtitle xl:text-deskh4;
    }

    h5 {
        @apply text-mobSubtitle md:text-deskSubtitle;
    }

    h6 {
        @apply text-mobSubtitle md:text-deskSubtitle2;
    }

    ol {
        @apply flex flex-col gap-4;

        li {
            @apply flex gap-1.5;
        }
    }


    ol {
        counter-reset: number;

        li {
            counter-increment: number;

            &::before {
                content: counter(number)".";
                display: block;
            }
        }
    }


    blockquote {
        @apply pl-1.5 border-l-[6px] border-mcg-lg text-body2;
    }

}

.blog-deskript {
    &__text {
        @apply md:text-body1;
    }

}

.blog-content,
.blog-deskript {
    @apply flex flex-col gap-6 text-text-d text-body3;

    img {
        @apply rounded-[20px] md:rounded-3xl h-[250px] md:h-[450px] object-cover mx-auto;
        width: 100%;

        @screen md {
            width: 816.67px;
        }
    }

    a {
        @apply transition-colors underline underline-offset-4 hover:text-text-at;
    }

    b,
    strong {
        @apply font-[600];
    }

}

#blogPageMainContainer>div:not(#blogPageSlider) {
    max-width: 816.67px;
}

.sale-middlecontent-block--v2 {
    img {
        width: unset;
        border-radius: unset;
        height: unset;
        object-fit: unset;
        margin: unset;

        @screen md {
            width: unset;
            border-radius: unset;
            height: unset;
            object-fit: unset;
        }
    }


    a {
        @apply no-underline;
    }
}

.sale-middlecontent-block--v3 {
    @apply bg-mcg-bs rounded-[20px] md:rounded-3xl px-3 py-4 md:p-5 relative;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 374px 196px;
    background-image: url("data:image/svg+xml,%3Csvg width='465' height='233' viewBox='0 0 465 233' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1359_38790)'%3E%3Cpath d='M358.58 59.9216C392.579 60.3328 420.547 32.9153 420.968 -1.33252L390.635 -1.7412C390.437 15.7671 376.202 29.8662 358.903 29.6308C341.561 29.3809 327.63 14.94 327.842 -2.61096L297.536 -2.96257C297.129 31.2426 324.467 59.4245 358.494 59.8928C358.494 59.8928 358.537 59.9072 358.58 59.9216Z' fill='%23D2EBEB'/%3E%3Cpath d='M404.812 94.3543C414.83 126.792 449.453 144.816 482.024 134.569L473.093 105.642C456.417 110.872 438.687 101.695 433.602 85.212C428.531 68.6865 437.97 50.9631 454.703 45.7048L445.757 16.8207C413.187 27.068 394.781 61.817 404.784 94.2972C404.784 94.2972 404.784 94.2972 404.77 94.34' fill='%23D2EBEB'/%3E%3Cpath d='M386.487 148.6C358.917 168.208 352.435 206.74 372.106 234.618L396.733 217.145C386.65 202.885 389.901 183.172 403.906 173.205C417.954 163.253 437.581 166.75 447.663 181.01L472.233 163.565C452.59 135.743 414.1 129.006 386.487 148.6C386.487 148.6 386.487 148.6 386.473 148.642L386.487 148.6Z' fill='%23D2EBEB'/%3E%3Cpath d='M328.821 148.153C301.473 127.863 262.671 133.602 242.196 160.953L266.554 179.095C277.049 165.079 296.843 162.034 310.737 172.372C324.589 182.696 327.373 202.523 316.907 216.595L341.251 234.637C361.739 207.244 356.169 168.443 328.821 148.153Z' fill='%23D2EBEB'/%3E%3Cpath d='M311.397 93.1634C322.239 61.0499 304.854 26.0961 272.61 15.1154L262.947 43.7365C279.423 49.299 288.383 67.1745 282.876 83.4869C277.355 99.8418 259.365 108.571 242.846 102.994L233.184 131.615C265.456 142.511 300.541 125.32 311.397 93.1634Z' fill='%23D2EBEB'/%3E%3Cpath d='M128.58 59.8296C162.579 60.2407 190.547 32.8232 190.968 -1.42456L160.635 -1.83324C160.437 15.6751 146.202 29.7741 128.903 29.5387C111.561 29.2889 97.6298 14.8479 97.8418 -2.703L67.5362 -3.05462C67.1293 31.1505 94.4666 59.3325 128.494 59.8007C128.494 59.8007 128.537 59.8152 128.58 59.8296Z' fill='%23DDF1F1'/%3E%3Cpath d='M174.812 94.2623C184.83 126.7 219.453 144.724 252.024 134.477L243.093 105.55C226.417 110.78 208.687 101.603 203.602 85.12C198.531 68.5945 207.97 50.871 224.703 45.6127L215.757 16.7287C183.187 26.976 164.781 61.725 174.784 94.2052C174.784 94.2052 174.784 94.2052 174.77 94.2479' fill='%23D2EBEB'/%3E%3Cpath d='M156.487 148.508C128.917 168.116 122.435 206.648 142.106 234.526L166.733 217.053C156.65 202.793 159.901 183.08 173.906 173.113C187.954 163.161 207.581 166.658 217.663 180.918L242.233 163.473C222.59 135.651 184.1 128.914 156.487 148.508C156.487 148.508 156.487 148.508 156.473 148.55L156.487 148.508Z' fill='%23D2EBEB'/%3E%3Cpath d='M98.821 148.061C71.4735 127.771 32.6707 133.51 12.1963 160.861L36.554 179.003C47.049 164.987 66.8431 161.942 80.7375 172.28C94.5891 182.603 97.3733 202.431 86.9067 216.503L111.251 234.545C131.739 207.152 126.169 168.351 98.821 148.061Z' fill='%23DDF1F1'/%3E%3Cpath d='M81.3973 93.0714C92.2393 60.9578 74.8538 26.0041 42.6103 15.0233L32.9474 43.6444C49.4233 49.2069 58.3835 67.0825 52.8762 83.3948C47.3545 99.7497 29.3648 108.479 12.8465 102.902L3.18359 131.523C35.4559 142.419 70.5409 125.228 81.3973 93.0714Z' fill='%23DDF1F1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1359_38790'%3E%3Crect width='465' height='233' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 100%;
    height: 325px;

    svg {
        width: 146px;
        height: 183px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    @screen md {
        background-position: center right;
        background-size: auto 100%;
        height: 233px;

        svg {
            width: 217px;
            height: 272px;
            transform: translateX(0);
            right: 84px;
        }
    }

    @screen xl {
        svg {
            right: 103px;
        }
    }
}

.sale-middlecontent-block--v4__img {
    @apply rounded-xl relative overflow-hidden;
    width: 100%;
    max-width: 351px;
    height: 411px;

    .deskription {
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-radius: 0 100px 0 0;
        background-color: #fff;
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px 0;
    }

    @screen md {
        border-radius: 20px;
        max-width: auto;
        width: 312px;
        height: 430px;
    }

    @screen xl {
        width: 378px;
        height: 456px;
    }
}