.blog-content {
    iframe {
        width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply text-text-th;
    }

    h1 {
        @apply text-mobh1 md:text-deskh2 xl:text-deskh1 ;
    }

    h2 {
        @apply text-mobh2 md:text-deskh3 xl:text-deskh2 ;
    }

    h3 {
        @apply text-mobh3 md:text-deskh4 xl:text-deskh3 ;
    }

    h4 {
        @apply text-mobSubtitle md:text-deskSubtitle xl:text-deskh4 ;
    }

    h5 {
        @apply text-mobSubtitle md:text-deskSubtitle ;
    }

    h6 {
        @apply text-mobSubtitle md:text-deskSubtitle2 ;
    }

    ol {
        @apply flex flex-col gap-4 ;
        li {
            @apply flex gap-1.5;
        }
    }


    ol {
        counter-reset: number;

        li {
            counter-increment: number;

            &::before {
                content: counter(number)".";
                display: block;
            }
        }
    }


    blockquote {
        @apply pl-1.5 border-l-[6px] border-mcg-lg text-body2;
    }

}

.blog-deskript {
    &__text {
        @apply md:text-body1;
    }

}

.blog-content,
.blog-deskript {
    @apply flex flex-col gap-6 text-text-d text-body3;

    img{
        @apply rounded-[20px] md:rounded-3xl h-[250px] md:h-[450px] object-cover mx-auto;
        width: 100%;
        @screen md {
            width: 816.67px;
        }
    }
    
    a {
        @apply transition-colors underline underline-offset-4 hover:text-text-at;
    }

    b,
    strong {
        @apply font-[600];
    }
    
}

#blogPageMainContainer > div:not(#blogPageSlider){
    max-width: 816.67px;
}