.service-slide {
    &__header {
        display: flex;
        flex-direction: row-reverse;
        gap: 14px;
        align-items: center;
        margin-bottom: 16px;
    }

    &__title {
        @apply text-deskSubtitle xl:text-deskh4 flex-1;
    }

    &__icon {
        @apply border-4 rounded-full ;
        padding: 11px;
        
    }

    &__body {
        @apply mb-4 flex flex-col gap-3 xl:gap-4 text-but16m xl:text-but18m;

        &-el {
            a {
                @apply p-5 rounded-[20px];
                display: flex;
                gap: 8px;

                span {
                    @apply flex-1;
                }

                &::before {
                    content: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2934 3.03981C14.3154 3.01782 14.3513 3.01801 14.3731 3.04014C17.4628 6.17289 17.4496 11.217 14.3333 14.3333C11.2169 17.4497 6.1728 17.4629 3.04005 14.3732C3.01791 14.3514 3.01773 14.3155 3.03971 14.2935L5.36132 11.9719C5.3833 11.9499 5.4191 11.9501 5.44135 11.9719C7.24794 13.7356 10.142 13.7221 11.932 11.9321C13.722 10.1421 13.7358 7.24779 11.972 5.44119C11.9503 5.41895 11.9501 5.38315 11.9721 5.36117L14.2934 3.03981Z' fill='%23005055'/%3E%3Crect x='3.73926' y='3.73926' width='9.85164' height='9.87979' rx='4.92582' fill='%23EAF3F4'/%3E%3C/svg%3E%0A");
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    &:nth-child(odd){
        .service-slide{
            &__icon {
                @apply border-mcg-dba;
            }

            &__body {
                &-el {
                    a {
                        @apply bg-bg-beige;
                    }
                }
            }
        }
    }

    &:nth-child(even){
        .service-slide{
            &__icon {
                @apply border-mcg-bs;
            }

            &__body {
                &-el {
                    a {
                        @apply bg-mcg-b;
                    }
                }
            }
        }
    }
}

.docavatar {
    margin: 0 auto;
    width: fit-content;
}