:root {
  --header: 60px;
  --subheader: 0px;
  --headerSummonHeight: calc(var(--header) + var(--subheader));
  --mobileHeaderHeight: 63px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @apply text-text-th;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*,
html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility !important;
  font-stretch: normal;
  font-optical-sizing: auto;
}

.container {
  // min-width: 375px;
}

html.something-opened {
  overflow: hidden;
}

// POTENTIAL

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 200;
}

.footer {
  margin-top: auto;
  padding-bottom: var(--mobileHeaderHeight, 63px);

  @screen md {
    padding-bottom: 0px;
  }
}

.h-fill {
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
}

// .main {
  
//   padding-top: var(--headerSummonHeight);
//   @apply md:pt-0;
// }


.swiper:not(.container, .md\:container, .xl\:container),
.swiper-slide {
  min-width: 0;
  max-width: 100%;
}


// POTENTIAL---------------->


// Tabs

.tabs {
  @apply bg-mcg-bs rounded-[14px] md:rounded-[20px] text-text-th p-[6px] md:p-2 flex md:grid ;
  flex-wrap: wrap;
  gap: 8px;
  justify-items: center;

  .tab {
    @apply text-but16m md:text-but18m px-3 md:px-4  md:w-full py-[6px] md:py-[10px] h-[38px] md:h-[41px]  border rounded-lg md:rounded-xl  bg-mcg-bs border-mcg-bs transition-colors flex items-center justify-center xl:flex-1 xl:w-full;

    &:not(.selected):hover{
      @apply border-bg-white bg-bg-white text-text-th;
    }

    &.selected {
      @apply bg-bg-white border-text-d text-text-th;
    }
  }

  &.site-theme-toggler {
    @apply  rounded-[10px] md:rounded-[14px] xl:rounded-[20px] p-1 md:p-[6px] xl:p-2 md:flex xl:grid flex-nowrap;
    .tab {
      @apply text-but14m md:text-but18m px-2 py-1 rounded-md md:px-3 md:py-[6px] md:rounded-lg xl:px-[17.5px] xl:py-[10px] xl:rounded-xl;
    }
  }
}




// Tabs---------------->


// Accordion

.accardeon-item {
  & > &__list {
    transition-property: grid-template-rows;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    & > div {
      min-height: 0;
    }
  }

  &__but {
    cursor: pointer;

    & > .accardeon-item__default-title,
    & > .accardeon-item__default-icon {
      @apply transition-colors;

      path {
        @apply fill-el-ia;;
      }
      
    }
  }

  &--default-anim {
    @apply bg-bg-beige transition-all;
  }
  

  &.opened {
    &.accardeon-item--default-anim {
      @apply bg-bg-white shadow-2;
    }

    & > .accardeon-item__list {
      grid-template-rows: 1fr;
    }

    & > .accardeon-item__but {
      & > .accardeon-item__default-title {
        @apply text-mcg-pg text-butsemi;
      }

      & > .accardeon-item__default-icon {
        @apply  rotate-180 bg-mcg-bs;
        path {
            @apply fill-mcg-pg;
        }
      }
    }
  }
}


// Accordion---------------->

.service-single {
  @apply p-3 rounded-2xl md:rounded-3xl shadow-2 md:p-4  block;

  &.onlyhead {
    @apply px-3 py-4 md:p-4 md:pr-10 ;
  }
  &__title {
    @apply text-but18m flex-1;

    // .onlyhead & {
    //   @apply text-but18m xl:text-but18m;
    // }
  }
  .services-page__header  {
    margin-bottom: 0px !important;
    justify-content: start;
  }

  .services-page__body  {
    @apply flex flex-wrap gap-4 md:gap-2 mt-5 md:mt-3;
  }

  &__mini {
    @apply text-but16r md:text-body3  md:px-4 md:py-2 flex gap-2 items-start  rounded-xl md:shadow-2 hover:bg-mcg-b transition-colors;

    @screen md {
      &::before {
        content: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2934 3.03981C14.3154 3.01782 14.3513 3.01801 14.3731 3.04014C17.4628 6.17289 17.4496 11.217 14.3333 14.3333C11.2169 17.4497 6.1728 17.4629 3.04005 14.3732C3.01791 14.3514 3.01773 14.3155 3.03971 14.2935L5.36132 11.9719C5.3833 11.9499 5.4191 11.9501 5.44135 11.9719C7.24794 13.7356 10.142 13.7221 11.932 11.9321C13.722 10.1421 13.7358 7.24779 11.972 5.44119C11.9503 5.41895 11.9501 5.38315 11.9721 5.36117L14.2934 3.03981Z' fill='%23005055'/%3E%3Crect x='3.73926' y='3.73926' width='9.85164' height='9.87979' rx='4.92582' fill='%23EAF3F4'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        margin-top: 3px;
      }
    }
  }
}

.service-icon {
  &::before {
    content: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2934 3.03981C14.3154 3.01782 14.3513 3.01801 14.3731 3.04014C17.4628 6.17289 17.4496 11.217 14.3333 14.3333C11.2169 17.4497 6.1728 17.4629 3.04005 14.3732C3.01791 14.3514 3.01773 14.3155 3.03971 14.2935L5.36132 11.9719C5.3833 11.9499 5.4191 11.9501 5.44135 11.9719C7.24794 13.7356 10.142 13.7221 11.932 11.9321C13.722 10.1421 13.7358 7.24779 11.972 5.44119C11.9503 5.41895 11.9501 5.38315 11.9721 5.36117L14.2934 3.03981Z' fill='%23005055'/%3E%3Crect x='3.73926' y='3.73926' width='9.85164' height='9.87979' rx='4.92582' fill='%23EAF3F4'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    display: block;
  }

  // &--small {
  //   &::before {
  //     width: 20px;
  //     height: 20px;
  //   }
  // }
}

.check-icon {
  &::before {
    content: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8897 11.6936C18.128 11.9433 18.1187 12.339 17.8689 12.5772L13.283 16.9522C13.0414 17.1827 12.6612 17.1826 12.4198 16.9519L10.1307 14.7644C9.88115 14.5259 9.87217 14.1302 10.1106 13.8807C10.3491 13.6311 10.7448 13.6222 10.9943 13.8606L12.8519 15.6359L17.0061 11.6728C17.2558 11.4345 17.6515 11.4438 17.8897 11.6936Z" fill="%23005055"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14 7.125C10.203 7.125 7.125 10.203 7.125 14C7.125 17.797 10.203 20.875 14 20.875C17.797 20.875 20.875 17.797 20.875 14C20.875 10.203 17.797 7.125 14 7.125ZM5.875 14C5.875 9.51269 9.51269 5.875 14 5.875C18.4873 5.875 22.125 9.51269 22.125 14C22.125 18.4873 18.4873 22.125 14 22.125C9.51269 22.125 5.875 18.4873 5.875 14Z" fill="%23005055"/></svg>');
    width: 32px;
    height: 32px;
    display: block;
  }

  &--28 {
    &::before {
      width: 28px;
      height: 28px;
    }
  }
}

.pag {
  @apply flex items-center gap-4 w-fit mx-auto;

  &__item {
    @apply text-body3 text-text-at transition-colors rounded-full border border-trans flex items-center justify-center;    
    padding: 0 4.5px;

    &.active {
      @apply text-text-d;
    }


    &:not(.active):hover {
      @apply text-text-d bg-bg-beige border-bg-beige;
    }

    &:not(.active):focus,
    &:not(.active):active {
      @apply text-text-d bg-bg-beige border-el-lg;
    }
  }

  &__before {
    @apply text-body3 text-text-at transition-colors rounded-full border border-trans flex items-center justify-center;    
    padding: 0 4.5px;
  }

  &__button {
    @apply w-11 h-11 rounded-full transition-colors border border-trans flex items-center justify-center;

    svg {
      @apply transition-colors fill-el-ia;
    }


    &.disabled, 
    &:disabled {
      border-color: transparent !important;
      background-color: transparent !important;

      svg {
        fill: #DBDBDB !important;
      }
    }

    &:not(.disabled, :disabled):hover {
      @apply bg-mcg-b border-mcg-b;

      svg {
        @apply fill-el-ih;
      }
    }

    &:not(.disabled, :disabled):active,
    &:not(.disabled, :disabled):focus {
      @apply bg-bg-beige border-el-lg;

      svg {
        @apply fill-el-ih;
      }
    }
  }
}

// SELECT CUSTOM

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  @apply text-but18r text-el-it border border-el-lg px-5 flex items-center gap-3 transition-colors hover:border-el-ia cursor-pointer;
  height: 53px;
  border-radius: 200px;
  span {
    @apply flex-1 whitespace-nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 24px);
  }

  svg {
    @apply fill-el-it;
    min-width: 24px;
  }

  &:hover {
    svg {
      @apply fill-text-d;
    }
  }


  &.select-arrow-active {
    @apply border-el-ih;
    span {
      @apply text-text-d;
    }
    svg {
      @apply rotate-180 fill-text-d;
    }
  }
}


/* Style items (options): */
.select-items {
  @apply bg-bg-white p-5 rounded-xl shadow-2 max-h-[280px];
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;

  &__items {
    @apply flex flex-col gap-6 overflow-auto max-h-[240px] pr-4;

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-bg-white;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-el-ia rounded-[20px];
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-el-ia;
    }


    & > div {
      @apply text-text-d text-but14r relative pl-7 cursor-pointer;

      &::before {
        @apply border border-el-ia transition-colors rounded-full;
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
      }

      &::after  {
        content: '';
        @apply transition-colors rounded-full bg-trans;
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
      }

      &:not(.same-as-selected):hover {
        &::before {
          @apply border-el-ih;
        }
      }

      &.same-as-selected {
        &::before {
          @apply border-mcg-pg;
        }

        &::after {
          @apply bg-mcg-pg;
        }
      }
    }
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

// SELECT CUSTOM --------------------------->


.filter {
  @apply flex  items-center gap-3 no-scrollbar overflow-auto md:flex-wrap;
  &__item {
    @apply flex items-center justify-center whitespace-nowrap text-but16m py-1.5 px-3 border rounded-[10px] text-el-it border-el-lg transition-colors cursor-pointer;

    input {
      width: 0;
      height: 0;
      visibility: hidden;
    }
    
    &:not(.active):hover {
      @apply text-el-ih border-el-ih;
    }

    &.active {
      @apply text-mcg-pg border-mcg-pg;
    }
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    @apply bg-bg-white;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    @apply bg-el-ia rounded-[20px];
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-el-ia;
  }
}


.question-page_acc {
  a:not(.button) {
    @apply underline underline-offset-4;
  }
}

.drop-shadow-shadow-3{
  filter: drop-shadow(0px 0px 30px  rgba(116, 116, 116, 0.7));
}

.sst{
  &-slides > *:not(.selected){
    display: none !important;
  }
}

#bx-panel.bx-panel-fixed {
  z-index: 99995 !important;
}
.bx-core-popup-menu {
  z-index: 99995 !important;
}

.table-container table{
  max-width: 100%;
}

#videoIframe {
 @apply aspect-video;

 width: min(80vw, 1024px);
}

@screen md{
  :root {
    --header: 69px;
    --subheader: 60px;
  }

  .header-close{
      --headerSummonHeight: calc(var(--subheader));
  } 
}


@screen xl{
  :root {
    --header: 90.85px !important;
    --subheader: 68px !important;
  }
}
