<html lang="@@lang">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, initial-scale=1.0">
	<meta name="description"
				content="@@description">
	<meta name="keywords"
				content="@@keywords">
	<link rel="shortcut icon"
				href="@@favicon.svg"
				type="image/svg+xml">
	<link rel="shortcut icon"
				href="@@favicon.webp"
				type="image/webp">
	<link rel="shortcut icon"
				href="@@favicon.png"
				type="image/x-icon">
	<link rel="stylesheet"
				href="css/libs.min.css">
	<link rel="stylesheet"
				href="css/style.min.css">
	<!-- <script src="https://api-maps.yandex.ru/2.1/?load=package.standard&amp;apikey=5aff64b0-c60f-4d47-92f5-65a2a0903d7e&amp;lang=ru_RU"></script> -->
	<title>@@title</title>
	
</head>
