.sale {
    max-width: 393px;
    &__date-end {
        @apply text-mcg-pg w-fit rounded-t-lg bg-mcg-b ml-auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        padding: 8px 10.5px;
    }

    &__container {
        @apply bg-mcg-b flex flex-col gap-4;
        border-radius: 16px 0 16px 16px;
        padding: 20px;
    }

    &__heading {
        @apply text-mobSubtitle md:text-deskSubtitle2 text-text-th;
    }

    &__header {
        @apply flex flex-col gap-4;
        &__img {
            @apply p-3 md:p-4 flex flex-col justify-end gap-3;
            width: 100%;
            aspect-ratio: 353/235;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), center / cover var(--saleBackgroundImage) no-repeat;
            border-radius: 8px;
        }
    }

    &__prev-price {
        @apply text-el-dg text-mobSubtitle md:text-deskSubtitle;
        text-decoration: line-through;
    }

    &__current-price {
        @apply text-mobh3 md:text-deskh3;
        color: #fff;
    }

    &__special {
        @apply mt-[5.5px] xl:mt-0 text-color1;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;

        @screen md {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px; 
        }
    }
}